body {
  /* background-color: black; */
  background-color: white;
}

#ecIntroBar{
  width: 100vw;
  height: 50vh;
}

#ecIntroName{
  width: 100vw;
  height: 25vh;
}

#ecIntroTag{
  width: 100vw;
  height: 25vh;
}

.skillsItem {
  width: 60vw;
  height: 80vh;
}

#ecTools {
  width: 100vw;
  height: 100vh;
}


