body {
  /* background-color: black; */
  background-color: white;
}

#ecHomeBar{
  width: 100vw;
  height: 50vh;
}

#ecHomeName{
  width: 100vw;
  height: 25vh;
}

#ecHomeTag{
  width: 100vw;
  height: 20vh;
}

.skillsItem {
  width: 33vw;
  height: 44vh;
}

#ecTechStack {
  width: 100vw;
  height: 100vh;
}

#ecDomains {
  width: 100vw;
  height: 95vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.pure-menu-link {
    padding: 20px;
}